*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Merriweather Sans', sans-serif;
}

.navbar{
	background-color: transparent;
}

.navbar-default{
	border: none;
}

.navbar-default .navbar-nav>li>a:hover{
	border-bottom:2px solid red;
}

.first-section img{
	width: 100%;
}

.btn-default{
	background-color: red;
	border: none;
}

.fa-search{
	color: #fff;
}